/* the default font in our template*/
/* default color skin */
/* default color skin with opacity */
/* text color 1 (some titles)*/
/* text color 2 (some text paragraphcs)*/
/* white color*/
/* black color*/
/* ul reset margin and padding*/
.ul-reset {
  margin: 0;
  padding: 0;
}
/* default style for paragraphs in this template*/
.paragraph {
  font-size: 13px;
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
}
/* default style for anchors in this template*/
.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* default style for hading1 in this template*/
.heading1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
}
/* default style for hading2 in this template*/
.heading2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
}
/* variable for radius corners*/
/* variable for radius corners*/
/* variable for radius corners*/
/* variable for radius corners*/
/* variable for radius corners*/
/* variable for transitions*/
.transition {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* variable for transitions*/
.transition2 {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
/* variable for transitions*/
.transition3 {
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
/* variable for tranform grow elem scale*/
/* no shadow  variable*/
.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
/* box shadow  variable*/
/* animation duration  variable*/
.animation-hover {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: hovertrans;
  -moz-animation-name: hovertrans;
  -ms-animation-name: hovertrans;
  -o-animation-name: hovertrans;
  animation-name: hovertrans;
}
/* animate transform variable*/
@-webkit-keyframes hovertrans {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-moz-keyframes hovertrans {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-o-keyframes hovertrans {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes hovertrans {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
/* animate transform rotate variable*/
/* animate transform rotate x variable*/
/* animate transform rotate Y variable*/
/* animate transform rotate Y variable*/
.trans-origin {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* background size cover*/
.back-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
